<div class="container" [style.float]="float" [style.width]="width">
    <h2>User Data</h2>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
        <div class="form-group">
            <label>Name</label>
            <input type="text"  class="form-control" name="name" [(ngModel)]="myName">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text"  class="form-control" name="email" [(ngModel)]="myEmail">
        </div>
        <div ngModelGroup="address">
            <div class="form-group">
                <label>State</label>
                <input type="text"  class="form-control" name="state" [(ngModel)]="myState">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text"  class="form-control" name="city" [(ngModel)]="myCity">
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text"  class="form-control" name="postalCode" [(ngModel)]="myPostal">
            </div>
        </div>
        <button type="submit"  class="btn btn-primary">Submit</button>
        &nbsp; <button type="button"  class="btn btn-success"  (click)="test()">Test</button>
        &nbsp; <button type="reset"  class="btn btn-danger">Clear</button>
    </form>
</div>
<div class="container"  [style.float]="float" [style.width]="width" *ngIf="divVisible">
    <h2>Your Data <button type="submit" class="btn btn-danger" (click)="onClose()">Close</button></h2>
    <div class="container">
        <p>Name: {{myName}}</p>
    </div>
    <div class="container">
        <p>Email: {{myEmail}}</p>
    </div>
    <div class="container">
        <p>Sate: {{myState}}</p>
    </div>
    <div class="container">
        <p>City: {{myCity}}</p>
    </div>
    <div class="container">
        <p>Postal Code: {{myPostal}}</p>
    </div>
</div>


